.artist__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin-bottom: 15px;
}

.artist__top > img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  padding-bottom: 15px;
}

.artist__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.artist__info > h1 {
  font-size: 60px;
}

.artist__info > p {
  font-weight: bold;
  font-size: 16px;
}

.artist__info > p > span {
  font-size: 14px;
  font-weight: 300px;
  color: white;
}

.artist__info > button {
  margin-top: 10px;
  outline: none;
  border: 0;
  padding: 5px 10px;
  width: 30%;
  color: white;
  font-weight: 600;
  background-color: #1ed15e;
  border-radius: 5px;
  cursor: pointer;
}

.artist__topTracks {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.artist__topTracks > h2 {
  margin-bottom: 20px;
}

.artist__bottom {
  padding-bottom: 30px;
}

.artist__bottom > h2 {
  margin-bottom: 15px;
}

.artist__albums {
  display: flex;
  flex-wrap: wrap;
}

.artist__album {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 180px;
  margin: 0 15px 15px 0;
  cursor: pointer;
}

.artist__album > img {
  margin-bottom: 10px;
}

.artist__album > img:hover {
  filter: brightness(50%);
}

.artist__album > .MuiSvgIcon-root:hover {
  transform: scale(1.2);
}

.artist__album > p {
  display: inline-block;
  text-align: center;
  width: 150px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.artist__album > .MuiSvgIcon-root {
  top: 20%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1;
}
