.sidebarOption{
    display: flex;
    height: 40px;
    cursor: pointer;
    align-items: center;
    color: grey;
    transition: 200ms color ease-in;
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption__icon{
    /* padding-left: 10px; */
    padding-right: 5px;
    
}

.sidebarOption > p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}