.body {
  flex: 0.8;
  position: absolute;
  left: 230px;
  right: 0;
  height: 100vh;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  color: white;
  padding: 30px;
  overflow: auto;
  background-color: #282828;
}

.body::-webkit-scrollbar {
  display: none;
}
