.browse__top {
  display: flex;
  flex-direction: column;
}

.browse__top > h2 {
  margin-bottom: 20px;
}

.browse__topGenres {
  display: inline-flex;
  overflow-x: scroll;
  min-width: 100%;
}

.browse__bottom {
  display: flex;
  flex-direction: column;
}

.browse__bottom > h2 {
  margin-bottom: 20px;
}

.browse__bottomCategories {
  display: flex;
  flex-wrap: wrap;
  min-width: 700px;
  width: 100%;
}
